.container{
    width: 100%;
    display: grid;
    place-items: center;
    padding-top: 2rem;
}

.imageslider{
    object-fit: cover;
    width: 80%;
    background-image: url("images/img-1.jpg");
    height: 30rem;
    background-size: 100% 100%;
    animation: changeBanner 20s linear infinite;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 1rem;
}

@keyframes changeBanner {
    0%{
        background-image: url("images/img-1.jpg"); 
    }

    20%{
        background-image: url("images/img-2.jpg"); 
    }

    30%{
        background-image: url("images/img-2.jpg"); 
    }

    50%{
        background-image: url("images/img-3.jpg"); 
    }

    70%{
        background-image: url("images/img-4.jpg"); 
    }

    100%{
        background-image: url("images/img-1.jpg"); 
    }
}